<!-- Set from config but allow override -->
{% set disqus = config.extra.disqus %} {% if page and page.meta and page.meta.disqus is string %} {% set disqus = page.meta.disqus
  %} {% endif %}
{% set copyright = config.extra.copyright %} {% if page and page.meta and page.meta.copyright is string %} {% set copyright = page.meta.copyright
  %} {% endif %}
{% set authors = 'OI-wiki' %} {% if page and page.meta and page.meta.author is string %} {% set authors = page.meta.author
  %} {% endif %}
<hr><blockquote class="page-copyright">
  <span><i class="md-icon">{% include ".icons/material/wrench.svg" %}</i>Last updated on this page:</span><span class="facts_modified"></span>, <a class="edit_history">Update history</a><br>
  <span><i class="md-icon">{% include ".icons/material/pencil.svg" %}</i>Found an error? Want to help improve? <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="page_edit_url">Edit this page on GitHub!</a></span><br>
  <span><i class="md-icon">{% include ".icons/material/account-multiple.svg" %}</i>Contributors to this page:</span><span class="page_contributors">{{ authors }}</span><br>
  <span><i class="md-icon">{% include ".icons/material/copyright.svg" %}</i>All content on this page is provided under the terms of the <strong>{{ copyright }}</strong> license, additional terms may apply</span>
</blockquote>
{% if not page.is_homepage and disqus %}
{% set pageID = page.title | default("404", true) %}
<div id="__comments" class="giscus" data-no-instant></div>
{% include "partials/javascripts/comments.html" %}
{% endif %}
